body {
	background-color:#ACC;
	color:#000;
}
body, h1, h2, h3, h4, div {
	font-family:"Gill Sans MT", "Gill sans", "Trebuchet ms", sans-serif;
}
p, ul, li {
	font-family:"Georgia", serif;
	font-size: 14pt;
}
img, div {
	border:0px;
	border-spacing:0px;
	margin:0px;
	padding:0px;
}
img.bulle {
	width:20px;
	margin-left: -22px;
}
a {
	color:#363;
}
a:active {
	color:#633;
}
a:visited {
	color:#696;
}
p {
	color:#336;
}
h1,h2,h3 {
	color:#633;
}
h2 {
	margin-left:20px;
}
div.corps {
	background:#D2EFF3;
	border:1px solid #8AA;
}
div.logo {
	padding-top:4px;
	height:60px;
	font-family:"Gill Sans MT", "Gill sans", "Trebuchet ms", sans-serif;
	font-size:42pt;
	font-weight:thin;
	color:#966;
	margin-left:5px;
}
div.logo a {
	color:#966;
	text-decoration:none;
}
div.logo a:active {
	color:#966;
	text-decoration:none;
}
div.logo a:visited {
	color:#966;
	text-decoration:none;
}
div.menu {
	color:#688;
	background:#acc;
	height:20pt;
	font-size:15pt;
	font-weight: bold;
	text-align:right;
	padding-top: 5pt;
	padding-bottom: 10pt;
	vertical-align: middle;
}
div.menu a {
	display: inline-block;
	padding: 5pt;
	color:#633;
	text-decoration-style:dotted;
	text-underline-offset: 3px;
}
div.menu a:active {
	color:#633;
	text-decoration-style:dotted;
	text-underline-offset: 3px;
}
div.menu a:visited {
	color:#633;
	text-decoration-style:dotted;
	text-underline-offset: 3px;
}
img {
	margin:2px;
}
div.page {
	padding:25px;
}
div.annee {
	float:right;
	font-size: 16pt;
}
div.image {
	text-align:center;
}
div.copyright {
	text-align:center;
	font-size: 14pt;
}
div.copyright a {
	font-weight: bold;
	color:#633;
	text-decoration-style:dotted;
	text-underline-offset: 3px;
}
div.copyright a:active {
	font-weight: bold;
	color:#633;
	text-decoration-style:dotted;
	text-underline-offset: 3px;
}
div.copyright a:visited {
	font-weight: bold;
	color:#633;
	text-decoration-style:dotted;
	text-underline-offset: 3px;
}